/* tema-islamismo.css - A ROUPA */

:root {
    --cor-primaria: #006a4e;       /* Verde escuro tradicional */
    --cor-acento: #f0c419;         /* Dourado caligráfico */
    --cor-texto-primario: #ffffff;   /* Branco para contrastar com o verde */
}
