/* tema-testemunhas.css - A ROUPA */

:root {
    --cor-primaria: #5e5e5e;       /* Cinza escuro */
    --cor-acento: #e53935;         /* Vermelho */
    --cor-texto-primario: #ffffff;   /* Branco para contrastar */
}
